<h1>Headlines</h1>

<div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="cell small-8" id="articles"></div>
    <div class="cell small-4" id="notes"></div>
  </div>
</div>