{{!-- navbar --}} {{> navbar }}
<div class="grid-container full">
    <h1>Latest Popular Mechanics News</h1>
    {{!-- put this in a modal --}} {{!--
    <p>Scraped
        <span id="numScraped"></span> articles.</p> --}}
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <div id="cardContainer">
                    <div id="newCardDiv"></div>
                </div>
            </div>
        </div>
    </div>
</div>