{{!-- navbar --}}
{{> navbar }}
<div class="grid-container full">
    <h1>Saved artices</h1>
    <div class="grid-container">
        <div class="row">
            <div class="cell small-12">
                <div id="cardContainer">
                    <div id="newCardDiv"></div>
                </div>
            </div>
        </div>
    </div>
</div>
